GEMINI_API_KEY=y6vi6...
TELEGRAM_API_ID=3894XXXXXX
TELEGRAM_API_HASH=be4a....
TELEGRAM_PHONE=+919876XXXXX
GNEWS_API_KEY=ds35w....
OPENROUTER_API_KEY=sk-or...
COMMODITY_PRICE_API1=267....
COMMODITY_PRICE_API2=256....